*.csproj
*.unityproj
*.sln
*.userprefs
*.suo
*.pidb
*.user
*.unityproj
*.booproj
*.svd
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
obj/
Library/
Temp/
*.db.meta