@charset "utf-8";

//https://brand.wisc.edu/web/colors/

$uw-red: #c5050c;
$uw-red-dark:   #9b0000;
$uw-page-bg:    #f7f7f7;
$uw-gray-blue:  #dadfe1;
$uw-gray-darker:   #646569;
$uw-gray-darkest:   #282728;
$uw-body-font:  #494949;
$uw-anchor-color:   #0479a8;
$uw-text: #ffffff;
$uw-gray-footer-text:   #adadad;
$uw-gray-footer-text-hover: #f9f9f9;